body{
    background-color: #410067;
    color: #f59acf;
}

header{
    margin-top: 50px;
}

#timer{
    float: left;
    margin-top: -54px;
    padding-left: 60px;
}
.container{
    margin: 0 auto;
    text-align: center;
}
.radioButton{
     margin: 0 auto;
}

table{
    table-layout: fixed;
    margin: 0 auto;
    padding-right: 320px;
}

#main{
    margin-top: 4%;
}

#pTurn{
    margin: 15px auto;
}

.row>td{
    font-size: 35px;
    border: solid 2px rgb(255, 255, 255);
    width: 150px;
    height: 120px;
    text-align: center;
    vertical-align: top;
    line-height: 65px;
    display: inline-block;
    margin-top: -4px;
}

.btnCtrl{
    max-width: 300px;
    margin-left: 9px;
}

